@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
    themes: autumn --default, business --prefersdark; 
}

.plane-marker-icon {
    background: transparent;
    border: none;
}

.plane-marker-icon img {
    display: block;
}
